/*
____________________________________
/ Embed CSS file, using PostCSS     \
------------------------------------
       \   ^__^
        \  (oo)\_______
           (__)\       )\/\
               ||----w |
               ||     ||
*/

@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/mapbox-gl/dist/mapbox-gl.css';
@import './modules/oldie.css';

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#map {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
}

#maplegend rect {
    stroke-width: 2;
    fill: white;
}

.attribution {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 0.8em;
    text-align: right;
    padding: 3px;
    background: rgba(255,255,255,0.7);
}

.toc {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 260px;
    background: white;
    box-shadow: 0 1px 3px #666, 0 6px 5px -5px #666;
}

.title, .description, .legend {
    position: relative;
    z-index: 10;
}

.title {
    padding: 20px 10px 15px 10px;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    word-wrap: break-word;
}

.description {
    padding: 10px 10px 15px 10px;
    font-size: 12px;
}

h3 {
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
}

h4 {
    font-size: 12px;
}

h4 p {
    margin: 0;
}

.background-print-img{
    display: none;
}


@media print{
    .background-print-img{
        display: block;
        width:100%;
        height: 99%;
        position:absolute;
        left: 0;
        top: 0;
        z-index: 1;
    }
    #map {
        border: 1px solid black;
    }
}
