/*
____________________________________
/ CSS file for print/embed index,  \
\ using PostCSS                    /
------------------------------------
       \   ^__^
        \  (oo)\_______
           (__)\       )\/\
               ||----w |
               ||     ||
*/

@import '../../node_modules/normalize.css/normalize.css';

@page {
    size: 8.5in 11in;
    margin: 0.75in;
}

* {
    box-sizing: border-box;
}

html, body {
    color: #555;
    font-family: "Helvetica Neue", "Calibri", "Liberation Sans", Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.02em;
}

body {
    background: #ccc;
}


header {
    background: white;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 3px #666,0 10px 6px -6px #666;
}

.container {
    width: 6.9in;
    margin: 0 auto;
}

.embed {
    height: 9.4in;
    box-shadow: 0 0 3px #666,0 15px 12px -10px #666;
    margin: 20px 0;
}

.embed iframe {
    overflow: hidden;
    border: none;
}


.print {
    display: inline-block;
    width: 17%;
    padding: 0 20px;
}

.form {
    display: inline-block;
    width: 83%;
    float: right;
    padding: 0 20px;
    border-left: 1px solid #ccc;
}

textarea, input, select {
    width: 100%;
    padding: 5px 10px;
    font-size: 1em;
    border: 1px solid #a2a2a2;
}
input, select {
    margin-bottom: 10px;
}
label {
    font-size: 0.9em;
    color: #3f51b5;
}

 /* Button */
.button {
    background-color: #CBCDCB; /* Green */
    border: none;
    color: #555;
    padding: 7px 12px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 6px;
    box-shadow: 1px 1px 3px #666;
    font-size: 12px;
    font-weight: bold;
}


@media print {
    header {
        display: none;
    }
    .embed {
        margin: 0;
        box-shadow: none;
        border: 1px solid black;
        padding: 10px;
    }
}
