/*
____________________________________
/ Embed CSS file, using PostCSS     \
------------------------------------
       \   ^__^
        \  (oo)\_______
           (__)\       )\/\
               ||----w |
               ||     ||
*/

@import '../../node_modules/mapbox-gl/dist/mapbox-gl.css';
@import './modules/toc.css';
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html,
body {
    color: #555;
    font-family: "Helvetica Neue", "Calibri", "Liberation Sans", Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.02em;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#map {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
}

.attribution {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 0.8em;
    text-align: right;
    padding: 3px;
    background: rgba(255, 255, 255, 0.7);
}

@media print {
    #map {
        border: 1px solid black;
    }
    a:link:after,
    a:visited:after {
        content: "";
    }
}